<!DOCTYPE html>
<html ng-app="odiUI">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>OdiUI</title>
	<meta name="description" content="Odi's UI to interact !" />
	<meta name="author" content="Adrien GARRY">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" href="css/lib/font-awesome.min.css" media="all" />
	<link rel="stylesheet" href="css/lib/angular-material.min.css" media="all" />
	<link rel="stylesheet" href="css/odiUI.css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-material.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/lib/angular-aria.min.js"></script>
	<script src="js/lib/angular-long-press.min.js"></script>

	<script src="js/config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/Tuile.js"></script>

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="Odi UI">
	<meta name="application-name" content="Odi UI">
	<meta name="theme-color" content="#2c3e50">
</head>
<body ng-controller="UIController">

	<md-toolbar class="toolbar" ng-dblclick="admin = true">
		<div class="md-toolbar-tools">
			<img src="img/odi.jpg" alt="Odi's face" class="odiFace" ng-class="activity.mode == 'sleep' ? 'sleep' : ''">
			<img src="img/snow.gif" alt="Odi not available" class="odiFace odiOff" ng-show="activity.mode == 'waiting'">
			<h1>Odi UI</h1>
			<span flex></span>
			<md-button class="md-icon-button"  title="Reload UI" aria-label="Reload UI" onclick="setTimeout(function(){window.location.reload()},500);">
				<i class="fa fa-2x fa-refresh" ng-class="{'fa-spin':spin}" ng-mouseenter="spin=true" ng-mouseleave="spin=false"></i><!--retweet/repeat-->
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav class="md-sidenav-left" md-component-id="logs" md-whiteframe="4">
		<div class="logs" ng-dblclick="refreshLog()">
			<ul><!-- class="fakeScroll"-->
				<li ng-repeat="logLine in logData track by $index">{{logLine}}</li><!-- ng-bind-html="toHtml(logLine)"-->
				<a id="bottomLogs"></a>
			</ul>
			<md-progress-circular md-diameter="150" ng-hide="logData"></md-progress-circular>
		</div>
		<div class="tools">
			<md-button class="md-fab md-warn" ng-disabled="!admin" title="Sleep Odi" aria-label="Sleep Odi"><i class="fa fa-2x fa-moon-o"></i></md-button>
			<md-button class="md-fab md-warn" ng-disabled="!admin" title="Restart Odi" aria-label="Restart Odi"><i class="fa fa-2x fa-flash"></i></md-button>
			<md-button class="md-fab md-warn" ng-click="hideLogs()" title="Hide Logs" aria-label="Hide Logs"><i class="fa fa-2x fa-arrow-left"></i></md-button>
		</div>
	</md-sidenav>

	<div class="main" layout-align="top center">
		<md-content flex layout-padding>
			<md-button ng-click="showLogs()" class="md-fab md-warn md-hue-2 logButton" title="Logs" aria-label="Logs">
			<!--ng-show="admin"-->
				<i class="fa fa-2x fa-rocket"></i>
			</md-button>

			<md-progress-circular md-diameter="150" ng-show="loading"></md-progress-circular>

			<div ng-include src="'content/dashboard.html'" ng-hide="loading" ng-class="loading ? '' : 'ng-slide'"></div>

			<footer ng-hide="loading">
				<!--<h3>ABOUT...</h3>
				<p><small>{{message}}</small></p>-->
				<p>adrigarry.com</p>
			</footer>
		</md-content>
	</div>


</body>
</html>