<!DOCTYPE html>
<html ng-app="odiUI">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>OdiUI</title>
	<meta name="description" content="Odi's UI to interact !" />
	<meta name="author" content="Adrien GARRY">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" href="css/lib/font-awesome.min.css" media="all" />
	<link rel="stylesheet" href="css/lib/angular-material.min.css" media="all" />
	<link rel="stylesheet" href="css/odiUI.css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-material.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/lib/angular-aria.min.js"></script>
	<script src="js/lib/angular-long-press.min.js"></script>

	<script src="js/config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/Tuile.js"></script>

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="Odi UI">
	<meta name="application-name" content="Odi UI">
	<meta name="theme-color" content="#2c3e50">
</head>
<body ng-controller="UIController">

	<md-toolbar class="toolbar" ng-dblclick="admin = true">
		<div class="md-toolbar-tools">
			<img src="img/odi.jpg" alt="Odi's face" class="odiFace" ng-class="activity.mode == 'sleep' ? 'sleep' : ''">
			<img src="img/snow.gif" alt="Odi not available" class="odiFace odiOff" ng-show="activity.mode == 'waiting'">
			<h1>Odi UI</h1>
			<span flex></span>
			<md-button class="md-icon-button"  title="Reload UI" aria-label="Reload UI" onclick="setTimeout(function(){window.location.reload()},500);">
				<i class="fa fa-2x fa-refresh" ng-class="{'fa-spin':spin}" ng-mouseenter="spin=true" ng-mouseleave="spin=false"></i><!--retweet/repeat-->
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav class="md-sidenav-left" md-component-id="logs" md-whiteframe="4">
		<div class="logs" ng-dblclick="refreshLog()">
			<ul><!-- class="fakeScroll"-->
				<li ng-repeat="logLine in logData track by $index">{{logLine}}</li><!-- ng-bind-html="toHtml(logLine)"-->
				<a id="bottomLogs"></a>
			</ul>
			<md-progress-circular ng-hide="logData" md-diameter="200"></md-progress-circular><!--ng-hide="logData"-->
		</div>
		<div class="tools">
			<md-button class="md-fab md-warn" title="Sleep Odi" aria-label="Sleep Odi"><i class="fa fa-2x fa-moon-o"></i></md-button>
			<md-button class="md-fab md-warn" title="Restart Odi" aria-label="Restart Odi"><i class="fa fa-2x fa-flash"></i></md-button>
			<md-button class="md-fab md-warn" ng-click="hideLogs()" title="Hide Logs" aria-label="Hide Logs"><i class="fa fa-2x fa-arrow-left"></i></md-button>
		</div>
	</md-sidenav>

	<div class="main" layout-align="top center">
		<md-content flex layout-padding>
			<md-button ng-click="showLogs()" ng-show="admin" class="md-fab md-warn md-hue-2 logButton" title="Logs" aria-label="Logs">
				<i class="fa fa-2x fa-rocket"></i>
			</md-button>

			<md-grid-list md-cols="3" md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3"
				md-row-height="4:3" md-gutter="12px">

				<md-grid-tile ng-click="expandTuile(ttsTuile)" md-rowspan="{{ttsTuile.rowspan}}" md-colspan="{{ttsTuile.colspan}}" md-colspan-sm="{{ttsTuile.colspan}}" md-colspan-xs="{{ttsTuile.colspan}}" ng-class="ttsTuile.color">

				<!--<md-grid-tile md-rowspan="1" md-colspan="3" md-colspan-sm="3" md-colspan-xs="3" class="lightGreen"
					ng-focus="expandTuile(this)">-->
					<form ng-submit="tts.submit()" class="mainContent">
						<div layout="row" ng-show="ttsTuile.rowspan == 2">
							<md-switch ng-model="tts.voice" ng-true-value="':1'" ng-false-value="':3'" class="voiceSwitch"
								ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'">
								<span>Human Voice</span>
								<span>Robot Voice</span>
							</md-switch>
						</div>

						<div layout="row" ng-show="ttsTuile.rowspan == 2">
							<div flex="10"></div>
							<md-input-container flex="50">
								<label>Language</label>
								<md-select name="type" ng-model="tts.lg">
									<md-option ng-repeat="language in ttsConfig.languageList track by $index" ng-value="language.code"
										ng-checked="language.code == fr">
										{{language.label}}
									</md-option>
								</md-select>
							</md-input-container>

							<label title="Envoyer dans messagerie" class="pointer text-center"  flex="30">
								<!--<input type="checkbox" class=".noDisplay" ng-model="tts.voicemail">
								<i class="fa fa-2x" ng-class="tts.voicemail ? 'fa-envelope' : 'fa-envelope-o'"></i>-->
								<md-checkbox ng-model="tts.voicemail" title="TEST" aria-label="TEST"
									ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'">VoiceMail</md-checkbox>
							</label>
						</div>
					<div layout="row">
					</div>
					<div layout="row">
						<md-input-container flex="70" class="md-block">
							<label>Message</label>
							<input name="ttsMsg" ng-model="tts.msg" ng-change="tts.cleanText()"><!--required-->
							<!--<input name="ttsMsg" ng-model="tts.msg" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
							<div ng-messages="ttsMsg.$error" role="alert" multiple>
								<div ng-message="required" class="my-message">Required&nbsp;!</div>
							</div>-->
						</md-input-container>
						<md-input-container flex="30" class="md-block centerText">
							<md-button type="submit" name="submit" class="md-raised" ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'" title="Send the message !">&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;
								<i class="fa" ng-class="tts.voicemail ? 'fa-envelope-o' : 'fa-paper-plane-o'"></i>&nbsp;&nbsp;
							</md-button>
						</md-input-container>
					</div>
				</form>


					<md-grid-tile-footer><h3>TTS - Voice synthesizing</h3></md-grid-tile-footer>
				</md-grid-tile>
				<md-grid-tile ng-repeat="conf in tuiles track by $index" onclick="" ng-click="expandTuile(conf)"
					md-rowspan="{{conf.rowspan}}" md-colspan="{{conf.colspan}}" md-colspan-sm="{{conf.colspan}}" md-colspan-xs="{{conf.colspan}}" ng-class="conf.color">
					<span ng-bind-html="toHtml(conf.value)"></span>
					<p>{{message}}</p>
					<md-grid-tile-footer><h3>{{conf.lib}}{{conf.size}}</h3></md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>

			<footer>
				<h3>ABOUT...</h3>
				<p>{{message}}</p>
				<p><small>adrigarry.com</small></p>
			</footer>
		</md-content>
	</div>

</body>
</html>