{
  "bracketSpacing": true,
  "singleQuote": true,
  "semicolons": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 160,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
