<link rel="stylesheet" href="css/settings.css" media="all" />

<h2>Settings</h2>
<h3>Config</h3>

<div class="configTable">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Odi's configuration</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="conf in settings track by $index">
				<td ng-repeat="item in conf track by $index" ng-bind-html="toHtml(item)">
					{{item}}
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!--<div class="material-switch center-block">
	<input id="switch1" type="checkbox" checked="" />
	<label for="switch1" class="label-primary"></label>
</div>-->