<link rel="stylesheet" href="css/tts.css" media="all" />

<!--<h2>TTS</h2>
<h3>Voice synthesizing</h3>-->

<!--<div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Home</span>
          <div class="mdl-layout-spacer"></div>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
          </ul>
        </div>-->

<md-content flex layout-padding>
<form ng-submit="tts.submit()" class="mainContent">
	<div layout="row">
		<md-switch ng-model="tts.voice" ng-true-value="':1'" ng-false-value="':3'" class="voiceSwitch md-primary"
			ng-class="tts.voice == ':3' ? 'md-warn' : ''">
			<span>Human Voice</span>
			<span>Robot Voice</span>
		</md-switch>
	</div>

	<div layout="row">
		<div flex="10"></div>
		<md-input-container flex="50"><!--flex="50"-->
			<label>Language</label>
			<md-select name="type" ng-model="tts.lg">
				<md-option ng-repeat="language in ttsConfig.languageList track by $index" ng-value="language.code"
					ng-checked="language.code == fr">
					{{language.label}}
				</md-option>
			</md-select>
		</md-input-container>

		<label title="Envoyer dans messagerie" class="pointer text-center"  flex="30">
			<input type="checkbox" class="noDisplay" ng-model="tts.voicemail">
			<i class="fa fa-3x" ng-class="tts.voicemail ? 'fa-envelope' : 'fa-envelope-o'"></i>
		</label>
	</div>

	<div layout="row">
		<md-input-container class="md-block center-block ttsMessage" flex="90">
			<label>Message</label>
			<input required name="ttsMsg" ng-model="tts.msg" ng-change="tts.cleanText()">
			<!--<input name="ttsMsg" ng-model="tts.msg" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
			<div ng-messages="ttsMsg.$error" role="alert" multiple>
				<div ng-message="required" class="my-message">Required&nbsp;!</div>
				<div ng-message="pattern" class="my-message">Pattern</div>
				<div ng-message="md-maxlength" class="my-message">I prefer short messages...</div>
			</div>-->
		</md-input-container>
	</div>

	<div class="row sendBtn">
		<md-button type="submit" name="submit" class="md-raised" ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'" title="Send the message !">&nbsp;&nbsp;Send<span ng-show="tts.voicemail"> voicemail</span>
			&nbsp;&nbsp;&nbsp;
			<i class="fa" ng-class="tts.voicemail ? 'fa-envelope-o' : 'fa-paper-plane-o'"></i>&nbsp;&nbsp;
		</md-button>
		<p class="test-center">{{tts.error}}</p>
	</div>
</form>
</md-content>
