/** Odi UI CSS**/

md-toolbar.toolbar{
	position:fixed;
	background-color:#607D8B;/*#2C3E50*/
}

img.odiFace{
	height:90%;
	margin-left:5px;
	margin-right:20px;
	border-radius:50%;
	border:2px solid;
}
img.odiFace.sleep{
	-webkit-filter:grayscale(100%); /* Chrome, Safari, Opera */
	filter:grayscale(100%);
}
img.odiFace.odiOff{
	display:block;
	float:left;
	height:90%;
	margin-left:-4em;
	opacity:0.9;
}

.toolbar h1{
	font-size:1.2em;
}

button>i{
	vertical-align:text-bottom;
}

/*************** LOGS ***************/
.logButton{
	position:fixed;
	left:1em;
	bottom:2em;
}
md-sidenav{
	width:70%;
	max-width:70%;
	background-color:#1b2631;
}
md-sidenav div{
	height:calc(100vh - 70px);
	color:#fff;
	overflow:auto;
}

/*md-sidenav md-toolbar*/ .tools{
	/*position:fixed;
	bottom:0;*/
	width:100%;
	height:70px;
	background-color:#2C3E50!important;
	text-align:center;
}
.tools button{
	margin-left:5%;
	margin-right:5%;
	vertical-align:middle;
}

.tools button>i{
	vertical-align:middle;
}

.hideLogs{
	/*float:right;*/
	position:absolute;
	right:0;
	margin-right:0;
	color:rgba(255,255,255,0.87);
	/*font-size:7em;*/
	zoom:1.8;
}
.hideLogs i{
	font-size:1.5em;
}



/*************** MAIN ***************/
.main{
	padding-top:60px;/*5em*/
}

md-content{
	padding-bottom:0;
}

md-grid-list{
	/*position:initial;*/
	max-width:1000px;
	margin:0 auto;
}
md-grid-list md-grid-tile{
	cursor:pointer;
}

.blue{background:rgba(187, 222, 251, 1);}
.blueGrey{background:rgba(207, 216, 220, 1);}
.purple{background:rgba(209, 196, 233, 1);}
.indigo{background:rgba(197, 202, 233, 1);}
.yellow{background:rgba(255, 236, 179, 1);}
.lime{background:rgba(240, 244, 195, 1);}
.cyan{background:rgba(178, 235, 242, 1);}
.teal{background:rgba(178, 223, 219, 1);}
.orange{background:rgba(255, 204, 188, 1);}

.md-primary{
	background-color:#F44235!important;
}

/*************** FOOTER ***************/
footer{
	min-height:5em;
	margin-top:2em;
	color:#fff;
	background-color:#263238;
	text-align:center;
	font-size:1.3em;
}



/* ------------------------------ MEDIA QUERIES DESKTOP ------------------------------- */
@media(min-width:768px){
	md-grid-list md-grid-tile md-grid-tile-footer h3{
		font-size:1.4em;
	}
}
/* ------------------------------ MEDIA QUERIES RESPONSIVE ------------------------------- */
@media(max-width:768px){
	img.odiFace.odiOff{
		margin-left:-3.5em;
	}

	md-grid-list md-grid-tile md-grid-tile-footer{
		height:30px;
	}
}