/* ------------------------------ Material Switch ------------------------------- */
.material-switch > input[type="checkbox"]{
	display:none;
}

.material-switch > label{
	cursor:pointer;
	height:0px;
	position:relative; 
	width:40px;  
}

.material-switch > label::before{
	background:rgb(0, 0, 0);
	box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius:8px;
	content:'';
	height:16px;
	margin-top:-8px;
	position:absolute;
	opacity:0.3;
	transition:all 0.4s ease-in-out;
	width:40px;
}
.material-switch > label::after{
	background:rgb(255, 255, 255);
	border-radius:16px;
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	content:'';
	height:24px;
	left:-4px;
	margin-top:-8px;
	position:absolute;
	top:-4px;
	transition:all 0.3s ease-in-out;
	width:24px;
}
.material-switch > input[type="checkbox"]:checked + label::before{
	background:inherit;
	opacity:0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after{
	background:inherit;
	left:20px;
}



/* ------------------------------ Global ------------------------------- */
*,*::before,*::after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

:focus{
	outline:0;
}

html,body{
	font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size:15px;
	font-weight:normal;
	width:100%;
	height:100%!important;
	/*min-height:700px!important;*/
	margin:0px;
	padding:0px;
	color:#5e696d;
	background:#F2F2F2;
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.noDisplay{
	display:none;
}
.vHidden{
	visibility:hidden;
}
.visible{
	visibility:visible;
}
.pointer{
	cursor:pointer;
}

.btn-primary{
	background-color:#2C3E50;
	border-color:#1b2631;
}
.btn-primary:hover{
	background-color:#1b2631;
}
.fakeScrollBar{
	/*margin-right:1.1em;*/
	margin-right:1.8em;
	background-color:#DDD;
}

.scrollContent{
	padding:0;
}

.overflow{
	overflow:hidden;
}

/* ------------------------------ MENU ------------------------------- */
.menu{
	width:100px;
	height:100%;
	/*min-height:520px;*/
	float:left;
	overflow:hidden;
	background:#2C3E50;
}

.menu ul{
	margin:0px;
	padding:0px;
	height:100%;
}

.menu ul li.menu-item{
	/*color:#DDD;*/
	/*min-height:100px;*/
	/*min-height:13%;*/
	/*height:6em;*/
	padding:0.5em 0;
}

.menu ul li.intro{
	/*height:6em;*/
	margin:-0.5em 0 -1em;
	/*min-height:12em;/*10em;*/
	color:#DDD;
}

img.odiFace{
	width:90%;
	margin-top:20px;
	padding:1px;
	border-radius:50%;
}
img.odiFace.sleep{
	-webkit-filter:grayscale(100%); /* Chrome, Safari, Opera */
	filter:grayscale(100%);
}
img.odiFace.odiOff{
	display:block;
	/*width:4.2em;*/
	height:6em;
	float:left;
	margin:-6em auto auto 0.25em;
	opacity:0.9;
}

.menu ul li.intro h1{
	margin:0.1em auto;
	font-size:2em;
}

.menu ul li.intro .activity{
	height:6em;
	padding-top:0em;
	font-size:0.9em;
	/*background-color:#999;*/
}
/*.menu ul li.intro .activity span{display:block;}
.menu ul li.intro .activity span.refresh{display:none;}*/
/*.menu ul li.intro .activity:hover span.noDisplay{display:block;}*/
/*.menu ul li.intro .activity span.status{display:block;}
.menu ul li.intro .activity:hover span.status{display:none;}*/
/*.menu ul li.intro .activity span:first-of-type{
	border-top:1px solid #3f5973;
}*/
.menu ul li.intro .activity:hover span{
	display:none;
}
.menu ul li.intro .activity:hover span:first-of-type{
	display:block;
}

.menu ul li.intro span{
	/*display:block;*/
	/*margin:0.15em 0;*/
}

.menu ul li.intro i{
	font-size:3em;/*1.5em*/
	line-height:normal;
	margin-top:0.3em;
}

/*.menu ul li.intro .fa-refresh{
	margin-top:0.3em;
	font-size:2em;
}*/
.menu ul li:hover{
	color:#FFF;
	cursor:pointer;
}

.menu ul li:hover span, .menu ul li.active span{
	visibility:visible;
}

.menu-item{
	display:block;
	text-align:center;
}
.menu-item a{
	display:block;
	color:#b3b3b3;
}
.menu-item a:hover, .menu-item.active{
	color:#fff;
	text-decoration:none;
}
.menu-item a:hover span.lib{
}
.menu-item.active.logs{
	background-color:#1b2631;
}
.menu-item.active a{
	color:#fff;
}
.menu-item a i{
	font-size:4.5em;
}

.menu-item a span{
	display:block;
	margin:0.6em 0 0;
	font-size:1.1em;
	line-height:0px;
}

/* ------------------------------ Dynamisme des menus ------------------------------- */
.ng-modal{
	float:left;
	overflow:hidden;
	/*position:absolute;*/
	height:100%;
}

.ng-menu{
	left:-100px;
	z-index:10;
	width:100px;
}

.ng-modal-dialog{
	/*position:absolute;*/
	z-index:10000;
	width:100px;
	height:100%;
	background-color:#fff;
}

.ng-slide{
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.menu{
	position:relative;
	left:0px;
}
.content.menu{
	padding-left:100px;
}

/* ------------------------------ LOGS ------------------------------- */
.log{
	position:absolute;
	width:500px;
	height:100%;
	left:-250px;
	margin-left:-500px;
	padding:5px 2px 5px 15px;
	z-index:5;
	background-color:#1b2631;
	color:#fff;
	-moz-box-shadow:1px 0px 25px 0px #e5e5e5;
	-webkit-box-shadow:1px 0px 25px 0px #e5e5e5;
	-o-box-shadow:1px 0px 25px 0px #e5e5e5;
	box-shadow:1px 0px 25px 0px #e5e5e5;
	/*will-change:transform;*/
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.log.logActive{
	margin-left:350px;
}

.log.logActive ul{
	height:100%;
	/*margin-left:-25px;
	margin-bottom:10px;*/
	margin:0 1em 0 -2em;
	overflow-y:auto;
	font-family:'Courier New';
	font-size:0.85em;
	line-height:0.95em;
	font-stretch:condensed;
	word-break:break-all;
	white-space:pre-wrap;
}

/*.log.logActive i.fa-close, */.log.logActive button.close{
	float:right;
	position:fixed;
	right:0.5em;
	font-size:7em;
	color:#fff;
	opacity:0.8;
}
.log.logActive button.close:hover{
	opacity:1;
}

.log ul li a{
	color:#adbfd2;
	text-decoration:underline;
}
.log ul li a:hover{
	color:#fff;
}

/* ------------------------------ MAIN CONTENT ------------------------------- */
.main{
	min-width:15em;
	max-width:50em;
	/*height:100%;*/
	margin-left:100px;
}

.main.logActive{
	margin-left:600px;
}

.content{
	/*min-width:15em;
	max-width:50em;*/
	margin:0 auto;
	padding:10px;
}

.content h3{
	margin-bottom:0;
}
.content h3{
	margin-top:0;
	color:#bbc1c4;
	border-top:2px solid #ced9e4;
	font-style:italic;
}

.content hr.introBorder{
	width:20em;
	margin-left:0;
	margin-bottom:5em;
	border-bottom:2px solid #ced9e4;
}

.mainContent{
	width:95%;
	margin:2em auto 0;
	padding:0.5em 1em;
	background-color:#fff;
	border-radius:2%;
}

input[type='radio']{
	margin-right:0.5em;
	transform:scale(1.6);
	-moz-transform:scale(1.6);
	-ms-transform:scale(1.6);
	-webkit-transform:scale(1.6);
	-o-transform:scale(1.6);
}

.form-control{
	height:43px;
	border:3px solid #dce4ec;
	font-size:15px;
}


.pauseUI{
	display:none;
	position:absolute;
	min-height:100%;
	top:0;
	left:0;
	right:0;
	z-index:20;
	background-color:#666;
	opacity:0.8;
}
.pauseUI.active{
	display:block;
	cursor:pointer;
}
.pauseUI.active p{
	margin-top:5%;
	color:#dee6ed;
	text-align:center;
	font-size:3em;
	font-style:italic;
}
.pauseUI.active i.fa{
	display:block;
	margin-top:5%;
	color:#000;
	font-size:25em;
	text-align:center;
}

/* ------------------------------ MEDIA QUERIES DESKTOP ------------------------------- */
@media(min-width:768px){
	html,body{
		min-height:700px!important;
	}
	.menu ul li a span{
		visibility:hidden;
	}
	.menu ul li.menu-item{
		margin:25% auto;/*15%*/
	}


}
/* ------------------------------ MEDIA QUERIES RESPONSIVE ------------------------------- */
@media(max-width:768px){
	html,body{
		min-height:500px!important;
	}
	.menu{
		width:70px;
	}
	h1{
		font-size:26px;
	}
	img.odiFace.odiOff{
		display:block;
		width:4.2em;
		height:4.2em;
		float:left;
		margin:-4.2em auto auto 0.25em;
		opacity:0.9;
	}
	.menu ul li.menu-item{
		margin:15% 0;/*2px*/
		height:5em;
	}
	.menu-item a i{
		font-size:3em;
	}
	.menu li a span{
		font-size:0.8em;
	}
	.log{
		width:300px;
	}
	.log.logActive{
		margin-left:320px;
	}
	/*.log.logActive button.close{
		font-size:9em;
	}*/
	/*.logActive ul{
		font-size:1.4em!important;
		letter-spacing:-0.1em!important;
	}*/
	.main.logActive{
		margin-left:400px;
	}
	.main{
		margin-left:70px;
	}
	/*.content h2{
		margin-top:0;
	}*/
	.content h3{
		font-size:1.2em;
	}
	.pauseUI.active p{
		font-size:1.5em;
	}
	.pauseUI.active i.fa{
		margin-top:5%;
		font-size:15em;
	}
}