/* -------------- Feuille de style de la page des projets ------------- */

.content hr.introBorder{
	margin-bottom:3em;
}

.remote{
	width:30em;
	margin:1em auto;
	text-align:center;
}

.remote button{
	width:2.2em;
	margin:0.25em;
	font-size:2.6em;
	border:1px solid #ccc;
	color:#243342;
	padding:10px 17px;
	border-radius:3px;
}

.remote hr{
	width:90%;
	height:2px;
	background-color:#adbfd2;
}
