/* -------------- Feuille de style de la page d'accueil ------------- */
table{
	display:table;
	width:60%!important;
}

table thead th td, table tbody tr td{
	margin-right:2em;
}

/* ------------------------------ MEDIA QUERIES DESKTOP ------------------------------- */
@media(min-width:768px){
	table{
		font-size:1.1em;
	}
}