/* -------------- Feuille de style de la page d'accueil ------------- */

figure label.switch{
	transform:rotate(270deg);
}
/*.configTable{
	margin:2em auto 0;
	background-color:#fff;
	border-radius:2%;
}
*/

/* ------------------------------ MEDIA QUERIES DESKTOP ------------------------------- */
@media(min-width:768px){
	.configTable{
		max-width:90%;/*80%*/
		padding:0.5em 2em;
	}
	table{
		font-size:1.1em;
		/*width:20em!important;*/
	}
	table tbody tr td:nth-child(1){
		/*width:50%;*/
		padding-left:2em;
	}
	figure label.switch{
		zoom:1.8;
	}
}