.radioBtnVoice label{
	padding-top:0.5em;
	font-size:1.2em;
}

.voiceSwitch{
	margin-left:50%!important;
}
.voiceSwitch .md-container .md-bar{
	background-color:rgba(255,87,34,0.5);
}
.voiceSwitch .md-container .md-thumb{
	background-color:rgb(255,87,34);
	color:rgb(255,87,34);
}
.voiceSwitch span:first-child{
	float:left;
	margin-left:-10em;
}
.voiceSwitch span:last-child{
}

form .infoVoiceMail{
	margin-top:1em;
}

form .sendBtn{
	display:flex;
	margin-bottom:2em;
}

form .sendBtn button{
	margin:0 auto;
}

form .ttsMessage input{
	font-size:1.2em;
}

/* ------------------------------ MEDIA QUERIES DESKTOP ------------------------------- */
@media(min-width:768px){
	fieldset, fieldset .row{
		margin-top:2em;
	}
	form .layout-row{
		margin-top:1em;
		margin-bottom:1em;
	}
}
/* ------------------------------ MEDIA QUERIES RESPONSIVE ------------------------------- */
@media(max-width:768px){
	.mainContent{
		padding:0.5em 0;
	}
}
