/* -------------- Feuille de style de la page d'accueil ------------- */

/* ---------------------------- Titre ------------------------------- */
h1 {
	margin: 20px 0px;
	text-align: center;
	color: #BEBEBE;
	font-size: 5em;
	font-family: "Trebuchet MS";
}

/* ---------------------------- Contenu ------------------------------- */
.home-content {
	text-align: center;
}

.home-content ul {
	display: inline-block;
	width : 190px;
	list-style: none;
}

/* ------------------------- Icones des pages ------------------------ */
.home-menu-item {
	margin: 20px;
	height: 150px;
	width: 150px;
	background: #4D5F84;
	border-radius: 75px;
	cursor: pointer;
	color: #DDD;
}

.home-menu-item i {
	margin-top: 15px;
	font-size: 4em;
	line-height: 80px;
}

.home-menu-item p {
	font-size: 1.2em;
	line-height: 20px;
	margin: 0px;
}

.home-menu-item:hover {
	color: #FFF;
}

/* --------------- Affichage en colonne pour petit écran --------------- */
@media ( min-width :580px) {
	h1 {
		margin: 20px 0px;
		text-align: center;
		color: #BEBEBE;
		font-size: 8em;
		font-family: "Trebuchet MS";
	}
	.home-content ul {
		display: inline-flex;
		width : auto;
		margin : 0px;
	}
}