<md-dialog class="modal">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">{{modal.label}}</h2>

		<ul>
			<li data-ng-repeat="(key, value) in modal.data track by $index">
				<span class="key" data-ng-show="!isNumber(key)">{{key}}</span> {{value}}
				<!--<span class="key" data-ng-show="!isNumber(key)" data-ng-bind-html="toHtml(key | formatLog)"></span>
				<span class="value" data-ng-bind-html="toHtml(value | formatLog)"></span>-->
			</li>
		</ul>

		<md-dialog-actions>
			<md-button class="md-raised" data-ng-click="close()">Close</md-button>&nbsp;&nbsp;&nbsp;
		</md-dialog-actions>
	</md-dialog-content>
</md-dialog>

<style type="text/css">
.modal ul{
	list-style-type:none;
}
.modal .kel{
	margin-right:1em;
}
</style>