<md-button class="md-raised" flex="1" data-ng-class="{{$ctrl.tile.color}}" title="Mode" data-ng-disabled="0">
<!-- <tile class="md-raised" flex="1" data-ng-class="{{$ctrl.tile.color}}" title="Mode" data-ng-disabled="false"> -->
<!-- <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="teal ng-slide"> -->

	<i class="fa fa-2x fa-ellipsis-h adminFlag"></i>
	<span class="debugObject">{{$ctrl.tile}}<br>
	<!--{{$ctrl.tile.data}}<br>-->
	</span>
	<span data-ng-show="$ctrl.tile.data.value.mode == 'Sleep'">
		<i class="mainInfo fa fa-moon-o"></i>&nbsp; {{$ctrl.tile.data.value.param}}
	</span>
	<span data-ng-show="$ctrl.tile.data.value.mode == 'Ready'">
		<span class="switch">
			<i class="fa fa-rotate-270 fa-2x" data-ng-class="$ctrl.tile.data.value.switch ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
		</span>
		<div class="mode">{{$ctrl.tile.data.value.mode}}</div>
		<div class="since">{{$ctrl.tile.data.value.param}}</div>
	</span>
	<!-- <md-grid-tile-footer><h3>{{$ctrl.tile.label}}</h3></md-grid-tile-footer> -->
	<footer><h3>{{$ctrl.tile.label}}</h3></footer>
</md-button>
<!-- </tile> -->
<!-- </md-grid-tile> -->

<style type="text/css">
mode{
	/*background-color:grey!important;*/
}
button{
	/*width:25vw;
	max-width:33%;
	height:15vw;*/
	/*width:30%;
	height:10em;*/
}
mode span{
	color:#34444b;
}
mode .switch{
	position:absolute;
	top:1em;
	left:1em;
	color:#496069;
}
mode .mode{
	text-align:center;
	font-size:5vw;
}
mode .since{
	text-align:center;
	font-size:1em;
}
</style>