<md-button class="md-raised" flex="1" data-ng-click="$ctrl.tile.click()" title="{{$ctrl.tile.label}}" data-ng-disabled="$ctrl.odiState.sleep">
<!-- <tile class="md-raised" flex="1" data-ng-class="{{$ctrl.tile.color}}" title="Mode" data-ng-disabled="false"> -->
	<i data-ng-if="$ctrl.tile.actionList.length > 1" class="fa fa-2x fa-ellipsis-h adminFlag"></i>

	<span data-ng-if="0" class="debugObject">{{$ctrl.tile}}</span>

	<div class="main">
		<i class="fa fa-star"></i>
		<small></small>
	</div>

	<footer><h3>{{$ctrl.tile.label}}</h3></footer>
</md-button>
<!-- </tile> -->

<style type="text/css">
/*date .main{
}*/
</style>