<form data-ng-submit="$ctrl.tile.submit()" class="mainContent">
	<div layout="row" data-ng-show="$ctrl.tile.rowspan == 2">
		<md-switch data-ng-model="$ctrl.tile.voice" data-ng-true-value="'espeak'" data-ng-false-value="'google'" class="voiceSwitch desktopZoom"
			ng-class="$ctrl.tile.voice == 'google' ? 'md-warn' : 'md-primary'">
			<span>Human Voice</span>
			<span>Robot Voice</span>
		</md-switch>
	</div>

	<div layout="row" data-ng-show="$ctrl.tile.rowspan == 2">
		<div flex="10"></div>
		<md-input-container flex="50">
			<label>Language</label>
			<md-select name="type" data-ng-model="$ctrl.tile.lg">
				<md-option data-ng-repeat="language in $ctrl.tile.conf.languageList track by $index" data-ng-value="language.code"
					ng-checked="language.code == fr">
					{{language.label}}
				</md-option>
			</md-select>
		</md-input-container>

		<label class="pointer text-center desktopZoom" flex="30">
			<md-checkbox data-ng-model="$ctrl.tile.voicemail" data-ng-class="$ctrl.tile.voice == 'google' ? 'md-warn' : 'md-primary'" title="Send in voicemail" aria-label="Send in voicemail">Voicemail</md-checkbox>
		</label>
	</div>
	<!--<div layout="row">
	</div>-->
	<div layout="row" class="ttsMsg">
		<md-input-container flex="70" class="md-block">
			<label>Message</label>
			<input type="search" name="ttsMsg" list="examples" data-ng-model="$ctrl.tile.msg" data-ng-change="$ctrl.tile.cleanText()"><!--required-->
			<datalist id="examples">
				<option value="Hey, je suis Odi !">
				<option value="Je monte les escaliers !">
				<option value="Vive la biere !">
			</datalist>
			<!--<input name="ttsMsg" data-ng-model="tts.msg" required data-ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
			<div data-ng-messages="ttsMsg.$error" role="alert" multiple>
				<div data-ng-message="required" class="my-message">Required&nbsp;!</div>
			</div>-->
		</md-input-container>
		<md-input-container flex="30" class="md-block centerText">
			<md-button type="submit" name="submit" class="md-raised" data-ng-class="$ctrl.tile.voice == 'google' ? 'md-warn' : 'md-primary'" title="Send the message !">&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;
				<i class="fa fa-lg" data-ng-class="$ctrl.tile.voicemail ? 'fa-envelope-o' : 'fa-paper-plane-o'"></i>&nbsp;&nbsp;
			</md-button>
		</md-input-container>
	</div>
</form>
<!-- <md-grid-tile-footer><h3>{{dashboard.ttsTile.label}}</h3></md-grid-tile-footer> -->
<md-grid-tile-footer><h3>{{$ctrl.tile.label}}</h3></md-grid-tile-footer>
