<md-button class="md-raised" flex="1" data-ng-click="$ctrl.tile.click()" title="{{$ctrl.tile.label}}" data-ng-disabled="0">
<!-- <tile class="md-raised" flex="1" data-ng-class="{{$ctrl.tile.color}}" title="Mode" data-ng-disabled="false"> -->
	<i data-ng-if="$ctrl.tile.actionList.length > 1" class="fa fa-2x fa-ellipsis-h adminFlag"></i>

	<span data-ng-if="0" class="debugObject">{{$ctrl.tile}}</span>

	<div>
		<i class="mainInfo fa fa-moon-o" data-ng-show="$ctrl.data.value.mode == 'Sleep'"></i>
		<div data-ng-show="$ctrl.data.value.mode == 'Ready'">{{$ctrl.data.value.mode}}</div>
		<div class="param">{{$ctrl.data.value.param}}</div>
	</div>
	<footer><h3>{{$ctrl.tile.label}}</h3></footer>
</md-button>
<!-- </tile> -->

<style type="text/css">
tts[flex] > button{
	height:15em;
}
tts[flex] > button.active{
	height:300em;
}
</style>