<md-grid-list md-cols="3" md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3"
	md-row-height="4:3" md-gutter="12px">

	<md-grid-tile ng-click="expandTile(ttsTile)" md-rowspan="{{ttsTile.rowspan}}" md-colspan="{{ttsTile.colspan}}" md-colspan-sm="{{ttsTile.colspan}}" md-colspan-xs="{{ttsTile.colspan}}" ng-class="ttsTile.color" class="ng-slide">
		<md-button ng-show="ttsTile.rowspan == 2" ng-click="reduceTile(ttsTile)" class="md-icon-button reduceTile"
			title="Reduce Tile" aria-label="Reduce Tile"><i class="fa fa-2x fa-close"></i></md-button>

	<!--<md-grid-tile md-rowspan="1" md-colspan="3" md-colspan-sm="3" md-colspan-xs="3" class="lightGreen"
		ng-focus="expandTile(this)">-->
		<form ng-submit="tts.submit()" class="mainContent">
			<div layout="row" ng-show="ttsTile.rowspan == 2">
				<md-switch ng-model="tts.voice" ng-true-value="':1'" ng-false-value="':3'" class="voiceSwitch"
					ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'">
					<span>Human Voice</span>
					<span>Robot Voice</span>
				</md-switch>
			</div>

			<div layout="row" ng-show="ttsTile.rowspan == 2">
				<div flex="10"></div>
				<md-input-container flex="50">
					<label>Language</label>
					<md-select name="type" ng-model="tts.lg">
						<md-option ng-repeat="language in ttsConfig.languageList track by $index" ng-value="language.code"
							ng-checked="language.code == fr">
							{{language.label}}
						</md-option>
					</md-select>
				</md-input-container>

				<label title="Envoyer dans messagerie" class="pointer text-center"  flex="30">
					<!--<input type="checkbox" class=".noDisplay" ng-model="tts.voicemail">
					<i class="fa fa-2x" ng-class="tts.voicemail ? 'fa-envelope' : 'fa-envelope-o'"></i>-->
					<md-checkbox ng-model="tts.voicemail" title="TEST" aria-label="TEST"
						ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'">VoiceMail</md-checkbox>
				</label>
			</div>
			<div layout="row">
			</div>
			<div layout="row">
				<md-input-container flex="70" class="md-block">
					<label>Message</label>
					<input name="ttsMsg" ng-model="tts.msg" ng-change="tts.cleanText()"><!--required-->
					<!--<input name="ttsMsg" ng-model="tts.msg" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
					<div ng-messages="ttsMsg.$error" role="alert" multiple>
						<div ng-message="required" class="my-message">Required&nbsp;!</div>
					</div>-->
				</md-input-container>
				<md-input-container flex="30" class="md-block centerText">
					<md-button type="submit" name="submit" class="md-raised" ng-class="tts.voice == ':3' ? 'md-warn' : 'md-primary'" title="Send the message !">&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;
						<i class="fa" ng-class="tts.voicemail ? 'fa-envelope-o' : 'fa-paper-plane-o'"></i>&nbsp;&nbsp;
					</md-button>
				</md-input-container>
			</div>
		</form>
		<md-grid-tile-footer><h3>TTS - Voice synthesizing</h3></md-grid-tile-footer>
	</md-grid-tile>


	<md-grid-tile ng-repeat="tile in dashboard.tileList track by $index" md-rowspan="{{tile.rowspan}}"
		md-colspan="{{tile.colspan}}" md-colspan-sm="{{tile.colspan}}" md-colspan-xs="{{tile.colspan}}"
		class="ng-slide" ng-class="tile.color" ng-click="tile.actionList.length>1 && openBottomSheet(tile.actionList)">

		<span class="responsive" ng-show="tile.viewMode=='value'">{{tile.value}}</span>

		<i class="responsive mainInfo fa fa-{{tile.value}}" ng-show="tile.viewMode=='icon'"></i>

		<span class="responsive" ng-bind-html="toHtml(tile.value)" ng-show="tile.viewMode=='custom'"></span>

		<md-grid-tile-footer><h3>{{tile.label}}<i class="fa fa-dot-circle-o" ng-show="tile.actionList.length>1 && admin"></i></h3></md-grid-tile-footer><!--<small>{{tile.value}}</small>-->
	</md-grid-tile>

<!-- ######################## -->


	<!--<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="teal" ng-click="openBottomSheet()">
		<span class="responsive">Ready</span>
		<md-grid-tile-footer><h3>Mode</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide blueGrey">
		<md-switch class="switch" ng-disabled="true" title="Switch position" aria-label="Switch position" ng-model="disabledModel"></md-switch>
		<md-grid-tile-footer><h3>Switch</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide cyan">
		<i class="responsive mainInfo fa fa-volume-down"></i>
		<md-grid-tile-footer><h3>Volume</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide indigo" ng-click="openBottomSheet()">
		<div class="responsive">
		<span class="mainInfo">1</span>
		<i class="fa fa-envelope"></i>
		</div>
		<md-grid-tile-footer><h3>Voicemail</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide lime" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-commenting-o"></i>
		<md-grid-tile-footer><h3>Exclamation</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide teal" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-music"></i>
		<md-grid-tile-footer><h3>Jukebox</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide blue">
		<i class="responsive mainInfo fa fa-calendar"></i>
		<md-grid-tile-footer><h3>Date</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide blue">
		<i class="responsive mainInfo fa fa-clock-o"></i>
		<md-grid-tile-footer><h3>Time</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide orange" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-hourglass-half"></i>
		<md-grid-tile-footer><h3>Timer</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide lime">
		<div class="responsive">
			<table>
				<tr>
					<td rowspan="2" class="mainInfo"><i class="fa fa-heartbeat"></i></td>
					<td><div class="value inline">2<small>%</small></div></td>
				</tr>
				<tr>
					<td><div class="value inline">51<small>°C</small></div></td>
				</tr>
			</table>
		</div>
		<md-grid-tile-footer><h3>CPU</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide teal">
		<i class="responsive mainInfo fa fa-cloud"></i>
		<md-grid-tile-footer><h3>Weather</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide indigo" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-bell-o"></i>
		<md-grid-tile-footer><h3>Alarms</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide indigo">
		<i class="responsive mainInfo fa fa-glass"></i>
		<md-grid-tile-footer><h3>Party</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide orange" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-star"></i>
		<md-grid-tile-footer><h3>RUSSIA</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide blue" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-flag-checkered"></i>
		<md-grid-tile-footer><h3>Test</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide blueGrey" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-file-text-o"></i>
		<md-grid-tile-footer><h3>Request history</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide lime">
		<i class="responsive mainInfo fa fa-bug"></i>
		<md-grid-tile-footer><h3>Cigales</h3></md-grid-tile-footer>
	</md-grid-tile>

	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="ng-slide lightGreen" ng-click="openBottomSheet()">
		<i class="responsive mainInfo fa fa-power-off"></i>
		<md-grid-tile-footer><h3>System</h3></md-grid-tile-footer>
	</md-grid-tile>-->

</md-grid-list>
