<div flex="1" data-ng-click="$ctrl.tile.click($event)" data-ng-disabled="$ctrl.odiState.sleep"
	data-ng-class="$ctrl.cssClass()" title="{{$ctrl.tile.label}}" data-ng-switch="$ctrl.tile.label"
	class="tile md-button md-raised ng-slide-fast">
	<i data-ng-if="$ctrl.tile.actionList.length > 1" class="fas fa-2x fa-ellipsis-h adminFlag"></i>
	<i data-ng-if="$ctrl.tile.expanded" data-ng-click="$ctrl.toggleTileHeight();$event.stopPropagation()"
		class="fas fa-2x fa-times adminFlag closeBtn" title="Reduce"></i>

	<span data-ng-if="0" class="debugObject">{{$ctrl.tile}}</span>
	<span data-ng-if="0" class="debugObject">{{$ctrl.data.value}}</span>

	<div class="tileContent" data-ng-switch-when="Text To Speech">
		<form class="mainContent ttsForm">
			<div layout="row" data-ng-show="$ctrl.tile.expanded">
				<div flex></div>
				<md-input-container flex="30">
					<label>Voice</label>
					<md-select name="type" data-ng-model="$ctrl.tts.voice">
						<md-option data-ng-repeat="voice in $ctrl.tts.conf.voiceList track by $index"
							data-ng-value="voice.code" data-ng-checked="voice.code == espeak">
							{{voice.label}}
						</md-option>
					</md-select>
				</md-input-container>
				<div flex></div>
				<md-input-container flex="30">
					<label>Language</label>
					<md-select name="type" data-ng-model="$ctrl.tts.lg">
						<md-option data-ng-repeat="language in $ctrl.tts.conf.languageList track by $index"
							data-ng-value="language.code" data-ng-checked="language.code == fr">
							{{language.label}}
						</md-option>
					</md-select>
				</md-input-container>
				<div flex></div>
			</div>
			<div layout="row" class="textInput ng-slide">
				<div flex="5"></div>
				<md-input-container flex="90" class="md-block ng-slide">
					<md-autocomplete flex id="textInput" md-no-cache="$ctrl.noCache" md-selected-item="$ctrl.selectedOption"
						md-search-text="$ctrl.textInput" md-items="option in $ctrl.getMatchingOptions($ctrl.textInput)"
						md-item-text="option.label" md-selected-item-change="$ctrl.selectedOptionChange(option)"
						md-escape-options="clear" md-floating-label="Message / Search" md-menu-class="autocomplete"
						data-ng-focus="$ctrl.onFocus()">
						<md-item-template>
							<span class="item-title">
								<span class="item-icon centerText fa-lg" data-ng-class="option.icon"></span>
								<span>{{option.label}}</span>
							</span>
						</md-item-template>
					</md-autocomplete>
				</md-input-container>
			</div>
		</form>
	</div>

	<div class="tileContent" data-ng-switch-when="Mode">
		<i class="fas fa-rotate-270 fa-2x switch"
			data-ng-class="$ctrl.data.value.switch ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
		<div class="main">
			<i class="mainInfo far fa-moon" data-ng-show="$ctrl.data.value.mode == 'Sleep'"></i>
			<div data-ng-hide="$ctrl.data.value.mode == 'Sleep'">
				&nbsp;{{$ctrl.data.value.mode}}<small class="opacity70"><sup>{{$ctrl.data.value.mood}}</sup></small>
			</div>
			<div class="param" data-ng-show="!$ctrl.data.value.debug"
				data-ng-class="$ctrl.data.value.mode =='Sleep'? 'paramSleep' : ''">{{$ctrl.data.value.param}}</div>
			<div class="param" data-ng-show="$ctrl.data.value.debug" title="Timeout to abort debug">
				{{$ctrl.data.value.debug}}min</div>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Options">
		<div class="main">
			<i class="far fa-dot-circle" data-ng-if="$ctrl.data.trace.value"></i>
			<i class="fas fa-circle" data-ng-if="$ctrl.data.debug.value && !$ctrl.data.trace.value"></i>
			<i class="fas fa-eye"
				data-ng-if="$ctrl.data.watcher.value && !$ctrl.data.debug.value && !$ctrl.data.trace.value"></i>
			<i class="fas fa-cogs"
				data-ng-if="!$ctrl.data.watcher.value && !$ctrl.data.debug.value && !$ctrl.data.trace.value"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Volume">
		<div class="main">
			<i class="fas fa-lg" data-ng-class="$ctrl.getVolumeIcon()"></i>
			<span data-ng-show="$ctrl.data.volume.value">{{$ctrl.data.volume.value}}<small
					class="opacity70">%</small></span>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Alarms">
		<div class="main ">
			<i class="far fa-bell" data-ng-if="$ctrl.nextAlarm"></i>
			<i class="far fa-bell-slash" data-ng-if="!$ctrl.nextAlarm"></i>
			<span
				data-ng-show="$ctrl.data.value && $ctrl.nextAlarm">{{$ctrl.nextAlarm.h}}:{{$ctrl.nextAlarm.m | formatNumber:2}}
			</span>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Hardware">
		<div class="main">
			<i class="fab fa-empire"></i>
			<span>
				<span>{{$ctrl.data.value.usage | limitTo:$ctrl.data.value.usage.length-1}}<sup
						class="opacity70"><small>%</small>
					</sup>
				</span>&nbsp;&nbsp;
				<i class="fas fa-thermometer-half"></i>
				<span>{{$ctrl.data.value.temperature | limitTo:$ctrl.data.value.temperature.length-1}}<sup
						class="opacity70"><small>°C</small>
					</sup>
				</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<i class="fas fa-microchip"></i>
				<table style="display:inline-block;vertical-align:middle;">
					<tr>
						<td style="line-height:2.5vw;">
							<span>{{$ctrl.data.value.memory.framebot | limitTo: $ctrl.data.value.memory.framebot.length-2}}<small
									class="opacity70"><small>Mo</small>
								</small>
						</td>
					</tr>
					<tr>
						<td style="line-height:2.5vw;">
							<small>
								<small>&nbsp;&nbsp;{{$ctrl.data.value.memory.system | limitTo: $ctrl.data.value.memory.system.length-4}}<small
										class="opacity70"><small>Mo _</small>
									</small>
								</small>
								<small>{{$ctrl.getMemoryPerCent()}}
									<sup class="opacity70">%</sup>
								</small>
							</small>
						</td>
					</tr>
				</table>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Voicemail">
		<div class="main">
			<i class="fa-envelope" data-ng-class="$ctrl.data.value ? 'fas' : 'far'"></i>
			<sub data-ng-show="$ctrl.data.value" class="fa-2x">&nbsp;{{$ctrl.data.value}}</sub>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Music">
		<div class="main">
			<i data-ng-class="$ctrl.getIconClass()"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Timer">
		<div class="main">
			<i data-ng-hide="$ctrl.data.value" class="far fa-hourglass"></i>
			<i data-ng-show="$ctrl.data.value" class="fas fa-hourglass-half"></i>
			<span data-ng-show="$ctrl.data.value">{{$ctrl.data.value | formatTime}}</span>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Audio recorder">
		<div class="main">
			<i class="fas fa-microphone"></i>
			<sub data-ng-show="$ctrl.data.value" class="fa-2x">&nbsp;{{$ctrl.data.value}}</sub>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Power plug">
		<div class="main">
			<i class="fas" data-ng-class="$ctrl.getPlugStatus('plugA')"></i>
			<i class="fas" data-ng-class="$ctrl.getPlugStatus('plugB')"></i>
			<i class="fas" data-ng-class="$ctrl.getPlugStatus('plugC')"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Exclamation">
		<div class="main">
			<i class="far fa-comment-dots"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Date">
		<div class="main">
			<i class="fas fa-calendar"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Time">
		<div class="main">
			<i class="far fa-clock"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Weather">
		<div class="main">
			<i data-ng-class="$ctrl.data.value.icon"></i>
			<span data-ng-show="$ctrl.data.value.temperature">{{$ctrl.data.value.temperature}}<sup
					class="opacity70"><small>°C</small></sup></span>
			<span class="fas fa-window-minimize" data-ng-hide="$ctrl.data.value.temperature"></span>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Maya">
		<div class="main">
			<i class="fas fa-baby"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Party">
		<div class="main">
			<i class="fas fa-cocktail"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Russia">
		<div class="main">
			<i class="fas fa-star"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Idea">
		<div class="main">
			<i class="far fa-lightbulb"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Stories">
		<div class="main">
			<i class="fas fa-book"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Bad boy">
		<div class="main">
			<i class="fas fa-bomb"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Video">
		<i class="fas fa-rotate-270 fa-2x switch"
			data-ng-class="$ctrl.data.value ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
		<div class="main">
			<i class="fas fa-desktop"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Max">
		<div class="main">
			<i class="fas fa-bezier-curve"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Radiator">
		<div class="main">
			<i class="fas fa-thermometer-half" data-ng-if="$ctrl.data.config.radiator == 'auto'"></i>
			<i class="fas fa-thermometer-full"
				data-ng-if="$ctrl.data.config.radiator == 'on' || $ctrl.isTimeout() && $ctrl.data.config.radiator.mode =='on'"></i>
			<i class="fas fa-thermometer-quarter"
				data-ng-if="$ctrl.data.config.radiator == 'off' || $ctrl.isTimeout() && $ctrl.data.config.radiator.mode =='off'"></i>
			<small>
				<span data-ng-if="!$ctrl.isTimeout()">{{$ctrl.data.config.radiator}}</span>
				<span data-ng-if="$ctrl.isTimeout()">{{$ctrl.data.config.radiator.timeout}}<small
						class="opacity70">min</small></span></small>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Tasks">
		<div class="main">
			<i class="fas fa-tasks"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Arduino">
		<i class="fas fa-rotate-270 fa-2x switch"
			data-ng-class="$ctrl.data.value ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
		<div class="main">
			<i class="fab fa-usb"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="Rfxcom">
		<i class="fas fa-rotate-270 fa-2x switch"
			data-ng-class="$ctrl.data.value ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
		<div class="main">
			<i class="fas fa-satellite-dish"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="History">
		<div class="main">
			<i class="far fa-file-alt"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="System">
		<div class="main">
			<i class="fas fa-power-off"></i>
		</div>
	</div>

	<div class="tileContent" data-ng-switch-when="About">
		<div class="main">
			<i class="fas fa-info"></i>
		</div>
	</div>

	<footer>
		<h3>{{$ctrl.tile.label}}</h3>
	</footer>
</div>