 [Unit]
 Description=frameBot service
 After=multi-user.target

 [Service]
 Type=simple
 KillMode=process
 ExecStart=/bin/sh /home/odi/frameBot/frameBot odi

 [Install]
 WantedBy=multi-user.target