[Unit]
Description=framebot service
After=network.target

[Service]
User=odi
WorkingDirectory=/home/odi/framebot
ExecStart=/bin/framebot odi
RestartSec=60s

[Install]
WantedBy=multi-user.target
