 [Unit]
 Description=frameBot service
 After=network.target

 [Service]
 Type=simple
 User=odi
 KillMode=process
 Restart=always
 WorkingDirectory=/home/odi/frameBot
 ExecStart=/bin/sh frameBot odi

 [Install]
 WantedBy=multi-user.target