[Unit]
Description=framebot service
After=network.target

[Service]
User=root
WorkingDirectory=/home/odi/framebot
ExecStart=/bin/framebot odi
RestartSec=90s

[Install]
WantedBy=multi-user.target
