<!DOCTYPE html>
<html data-ng-app="odiUI">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>OdiUI</title>
	<meta name="description" content="Odi's UI to interact !" />
	<meta name="author" content="Adrien GARRY">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">






	<link rel="stylesheet" href="css/lib/font-awesome.min.css" media="all" />
	<link rel="stylesheet" href="css/lib/angular-material.min.css" media="all" />
	<!-- <link rel="stylesheet" href="css/lib/picker.css" media="all" /> -->
	<link rel="stylesheet" href="css/odiUI.css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

<!-- build:js js/odiUI.min.js -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-material.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/lib/angular-aria.min.js"></script>
<!-- endbuild -->


	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/models.js"></script>
	<script src="js/components.js"></script>
	<script src="js/Tile.js"></script>
	<!--<script src="js/components/tts.js"></script>
	<script src="js/components/mode.js"></script>
	<script src="js/components/volume.js"></script>
	<script src="js/components/alarm.js"></script>
	<script src="js/components/cpu.js"></script>
	<script src="js/components/voicemail.js"></script>
	<script src="js/components/exclamation.js"></script>
	<script src="js/components/jukebox.js"></script>
	<script src="js/components/timer.js"></script>
	<script src="js/components/time.js"></script>
	<script src="js/components/date.js"></script>
	<script src="js/components/weather.js"></script>
	<script src="js/components/russia.js"></script>
	<script src="js/components/idea.js"></script>
	<script src="js/components/party.js"></script>
	<script src="js/components/logs.js"></script>
	<script src="js/components/system.js"></script>
	<script src="js/components/about.js"></script>-->

	<!--<script src="js/lib/angular-long-press.min.js"></script>-->
	<!-- <script src="js/lib/picker.js"></script> -->
	<!--<script src="js/directives.js"></script>-->

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="Odi UI">
	<meta name="application-name" content="Odi UI">
	<meta name="theme-color" content="#2c3e50">
</head>
<body data-ng-controller="UIController" scroll>
	<md-toolbar class="toolbar" data-ng-class="dashboard.loading ? 'md-warn' : ''">
		<div class="md-toolbar-tools"><!-- TODO component toolbar -->
		<!--<md-progress-circular md-mode="determinate" value="{{dashboard.loopInterval}}" data-ng-class="dashboard.autoRefresh == 'warn' ? 'warn' : ''" data-ng-show="dashboard.autoRefresh && 0" data-ng-click="reloadUI()"></md-progress-circular>-->
			<img src="img/odi.jpg" alt="Odi's face" class="odiFace" 
				ng-class="dashboard.tileList.mode.value.mode == 'Sleep' ? 'sleep' : ''" data-ng-click="reloadUI()"><!--onclick="setTimeout(function(){window.location.reload()},300)"-->
			<!--<img src="img/snow.gif" alt="Odi not available" class="odiFace odiOff" data-ng-show="dashboard.loading">-->
			<h1 data-ng-dblclick="irda && action({label: 'Restart Odi', url: '/odi'})">Odi UI
				<sup class="version" title="version">{{dashboard.version}}&nbsp;</sup>
			</h1>
			<span flex></span>
			<i class="debug fa fa-circle" data-ng-if="dashboard.debug" title="DEBUG mode"></i>&nbsp;

			<md-button class="md-icon-button" data-ng-click="toggleMenu()" title="Menu" aria-label="Menu">
				<i data-ng-class="{'fa-rotate-90':menuOpen}" class="fa fa-2x fa-lg fa-bars ng-slide"></i>&nbsp;
				<!--opacityHalf:!irda, fa-rotate-90:menuOpen-->
			</md-button>
		</div>
		<md-progress-linear md-mode="determinate" value="{{dashboard.loopInterval}}" data-ng-class="dashboard.autoRefresh == 'warn' ? 'warn' : ''"></md-progress-linear><!--data-ng-show="dashboard.autoRefresh"-->
	</md-toolbar>

	<md-sidenav class="md-sidenav-left" md-component-id="logs" md-whiteframe="4">
		<div class="logs" data-ng-dblclick="refreshLog()">
			<i class="debugLog fa fa-circle" data-ng-if="dashboard.debug" title="DEBUG mode"></i>
			<ul><!-- class="fakeScroll"-->
				<!-- <li data-ng-repeat="logLine in logData track by $index" data-ng-bind-html="toHtml(logLine)"></li> -->
				<li data-ng-repeat="logLine in logData track by $index" data-ng-bind-html="toHtml(logLine | formatLog)"></li>
				<a id="bottomLogs"></a>
			</ul>
			<md-progress-circular md-diameter="150" data-ng-hide="logData"></md-progress-circular>
		</div>
		<div class="tools">
			<md-button class="md-fab md-warn" data-ng-click="action({label: 'Sleep', url: '/sleep'})" data-ng-show="irda"
				title="Sleep Odi" aria-label="Sleep Odi"><i class="fa fa-2x fa-moon-o"></i></md-button>
			<md-button class="md-fab md-warn" data-ng-click="action({label: 'Restart Odi', url: '/odi'})" data-ng-show="irda"
				title="Restart Odi" aria-label="Restart Odi"><i class="fa fa-2x fa-flash"></i></md-button>
			<md-button class="md-fab md-warn" data-ng-click="hideLogs()" data-ng-hide="irda" title="Hide Logs"
				aria-label="Hide Logs">
			<i class="fa fa-2x fa-arrow-left"></i></md-button>
			<md-button class="md-fab md-warn" data-ng-click="toggleMenu()" title="Toggle Menu"
				aria-label="Toggle Menu"><i class="fa fa-2x fa-bars"></i></md-button>
		</div>
	</md-sidenav>

	<md-sidenav class="md-sidenav-right" md-component-id="menu" md-whiteframe="1">
		<div layout="row" class="menu">
				<md-list flex>
					<md-list-item>
						<md-button data-ng-click="showAdminDialog($event)" data-ng-class="{admin:irda}" class="adminBtn center"
							title="Admin" aria-label="Admin">
							<i data-ng-hide="irda" class="fa fa-border fa-user-plus"></i>
							<i data-ng-show="irda" class="fa fa-border fa-user-secret"></i>
						</md-button>
					</md-list-item>
					<md-divider></md-divider>

					<md-list-item>
						<div flex>Auto refresh</div>
						<div flex>
							<md-switch class="switch md-primary" aria-label="Dashboard auto refresh" title="Dashboard auto refresh" tabindex="0" type="checkbox" role="checkbox" data-ng-model="dashboard.autoRefresh"></md-switch>
						</div>
					</md-list-item>
					<md-divider></md-divider>

					<md-list-item>
						<div flex>Debug</div>
						<div flex>
							<md-switch class="switch md-primary" aria-label="Debug mode" title="Debug mode" tabindex="0" type="checkbox" role="checkbox" data-ng-model="dashboard.debug"  data-ng-click="irda && toggleDebugMode()" data-ng-disabled="!irda"></md-switch>
						</div>
					</md-list-item>
					<md-divider></md-divider>

					<md-subheader>Volume&nbsp;&nbsp;<i>{{master}}</i></md-subheader>
					<md-list-item title="Volume">
						<md-slider-container ng-disabled="!irda">
							<md-slider flex data-ng-model="master" data-md-discrete md-horizontal step="10" class="md-primary"
								data-ng-readonly="!irda" title="Volume" aria-label="Volume"></md-slider>
						</md-slider-container>
					</md-list-item>
					<md-divider></md-divider>

					<md-list-item data-ng-click="showLogs()" title="Show console">
						<div flex>Show logs</div>
						<div flex><i class="fa fa-lg fa-2x fa-terminal"></i></div>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item data-ng-click="reloadUI()" title="Reload UI">
						<div flex>Reload UI</div>
						<div flex><i class="fa fa-lg fa-2x fa-repeat"></i></div>
					</md-list-item>
				</md-list>
			<!-- </div> -->
		</div>
	</md-sidenav>

	<div class="main" layout-align="top center">

			<br>
			<div class="dashboard ng-slide" data-ng-if="irda">
				<tts data="dashboard.runningData.mode" flex="3"></tts>
				<mode data="dashboard.runningData.mode" flex="1"></mode>
				<volume data="dashboard.runningData.volume" flex="1"></volume>
				<alarm data="dashboard.runningData.alarm" flex="1"></alarm>
				<cpu data="dashboard.runningData.cpu" flex="2" data-odi-state="dashboard.odiState"></cpu>
				<voicemail data="dashboard.runningData.voicemail" flex="1" data-odi-state="dashboard.odiState"></voicemail>
				<exclamation data="dashboard.runningData.exclamation" flex="1" data-odi-state="dashboard.odiState"></exclamation>
				<jukebox data="dashboard.runningData.jukebox" flex="1" data-odi-state="dashboard.odiState"></jukebox>
				<timer data="dashboard.runningData.timer" flex="1" data-odi-state="dashboard.odiState"></timer>
				<date data="dashboard.runningData.date" flex="1" data-odi-state="dashboard.odiState"></date>
				<time data="dashboard.runningData.time" flex="1" data-odi-state="dashboard.odiState"></time>
				<weather data="dashboard.runningData.weather" flex="1" data-odi-state="dashboard.odiState"></weather>
				<party data="dashboard.runningData.party" flex="1" data-odi-state="dashboard.odiState"></party>
				<russia data="dashboard.runningData.russia" flex="1" data-odi-state="dashboard.odiState"></russia>
				<idea data="dashboard.runningData.ideas" flex="1" data-odi-state="dashboard.odiState"></idea>
				<logs data="dashboard.runningData.logs" flex="1"></logs>
				<system data="dashboard.runningData.system" flex="1"></system>
				<about data="dashboard.runningData.about" flex="1"></about>
			</div>
			<br>

		<md-content flex layout-padding>
			<!--<md-button data-ng-click="action({label: 'Mute', url: '/mute'})" class="md-fab md-primary md-hue-2 md-mini muteButton"
			title="Mute Odi" aria-label="Mute Odi">
				<i class="fa fa-bell-slash-o"></i>
			</md-button>-->

			<md-button data-ng-click="showLogs()" class="md-fab md-warn md-hue-2 logButton" title="Logs" aria-label="Logs">
				<i class="fa fa-2x fa-rocket"></i>
			</md-button>
			<md-button data-ng-click="action({label: 'Mute', url: '/mute'})" class="md-fab md-primary md-hue-2 muteButton"
			title="Mute Odi" aria-label="Mute Odi">
				<i class="fa fa-lg fa-bell-slash-o"></i>
			</md-button>

			<!-- <md-progress-circular md-diameter="150" data-ng-show="loading"></md-progress-circular> -->

			<div data-ng-include src="'templates/dashboard.html'" data-ng-hide="loading" data-ng-class="loading ? '' : 'ng-slide'"></div>
		</md-content>

			<footer data-ng-hide="loading">
				<p><a href="http://adrigarry.com" target="_blank" title="Adrien Garry">adrigarry.com</a></p>
			</footer>
	</div>
</body>
</html>