<!DOCTYPE html>
<html data-ng-app="odiUI">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>OdiUI</title>
	<meta name="description" content="Odi's UI to interact !" />
	<meta name="author" content="Adrien GARRY">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" href="css/lib/font-awesome.min.css" media="all" />
	<link rel="stylesheet" href="css/lib/angular-material.min.css" media="all" />
	<!-- <link rel="stylesheet" href="css/lib/picker.css" media="all" /> -->
	<link rel="stylesheet" href="css/odiUI.css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-material.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/lib/angular-aria.min.js"></script>
	<script src="js/lib/angular-long-press.min.js"></script>
	<!-- <script src="js/lib/picker.js"></script> -->

	<!-- <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js'></script>
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script> -->

	<script src="js/conf.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/services.js"></script>
	<!--<script src="js/directives.js"></script>-->
	<script src="js/models.js"></script>
	<script src="js/components/dialog.js"></script>
	<script src="js/components/tts.js"></script>
	<script src="js/components/mode.js"></script>
	<script src="js/components/alarm.js"></script>

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="Odi UI">
	<meta name="application-name" content="Odi UI">
	<meta name="theme-color" content="#2c3e50">
</head>
<body data-ng-controller="UIController">
	<md-toolbar class="toolbar" data-ng-class="dashboard.loading ? 'md-warn' : ''">
		<div class="md-toolbar-tools">
			<md-progress-circular md-mode="determinate" value="{{dashboard.loopInterval}}" data-ng-class="dashboard.autoRefresh == 'warn' ? 'warn' : ''" data-ng-show="dashboard.autoRefresh" data-ng-click="reloadUI()"></md-progress-circular><!-- onclick="setTimeout(function(){window.location.reload()},300)"-->
			<img src="img/odi.jpg" alt="Odi's face" class="odiFace" 
				ng-class="dashboard.tileList.mode.value.mode == 'Sleep' ? 'sleep' : ''" data-ng-click="reloadUI()"><!--onclick="setTimeout(function(){window.location.reload()},300)"-->
			<!--<img src="img/snow.gif" alt="Odi not available" class="odiFace odiOff" data-ng-show="dashboard.loading">-->
			<h1 data-ng-dblclick="irda && action({label: 'Restart Odi', url: '/odi'})">Odi UI
				<sup class="version" title="version">{{dashboard.version}}&nbsp;</sup>
			</h1>
			<span flex></span>
			<i class="debug fa fa-circle" data-ng-if="dashboard.debug" title="DEBUG mode"></i>&nbsp;
			<md-switch class="switch md-primary" aria-label="Dashboard auto refresh" title="Dashboard auto refresh" tabindex="0" type="checkbox" role="checkbox" data-ng-model="dashboard.autoRefresh"></md-switch><!--data-ng-if="irda"-->
			<md-button class="md-icon-button" data-ng-click="showAdminDialog($event)" data-ng-class="irda ? 'admin' : ''" title="Admin" aria-label="Admin"><!-- grant()-->
				<i class="fa fa-2x fa-lg fa-key"></i>
			</md-button>
			<!--<md-button class="md-icon-button" title="Reload UI" aria-label="Reload UI" onclick="setTimeout(function(){window.open('http://odi.adrigarry.com','_self')},300);">
				<i class="fa fa-2x fa-refresh" data-ng-class="{'fa-spin':spin}" data-ng-mouseenter="spin=true" data-ng-mouseleave="spin=false"></i>
			</md-button>-->
		</div>
	</md-toolbar>

	<md-sidenav class="md-sidenav-left" md-component-id="logs" md-whiteframe="4">
		<div class="logs" data-ng-dblclick="refreshLog()">
			<i class="debugLog fa fa-circle" data-ng-if="dashboard.debug" title="DEBUG mode"></i>
			<ul><!-- class="fakeScroll"-->
				<!-- <li data-ng-repeat="logLine in logData track by $index" data-ng-bind-html="toHtml(logLine)"></li> -->
				<li data-ng-repeat="logLine in logData track by $index" data-ng-bind-html="toHtml(logLine | formatLog)"></li>
				<a id="bottomLogs"></a>
			</ul>
			<md-progress-circular md-diameter="150" data-ng-hide="logData"></md-progress-circular>
		</div>
		<div class="tools">
			<md-button class="md-fab md-warn" data-ng-click="action({label: 'Sleep', url: '/sleep'})" data-ng-show="irda"
				title="Sleep Odi" aria-label="Sleep Odi"><i class="fa fa-2x fa-moon-o"></i></md-button>
			<md-button class="md-fab md-warn" data-ng-click="action({label: 'Restart Odi', url: '/odi'})" data-ng-show="irda"
				title="Restart Odi" aria-label="Restart Odi"><i class="fa fa-2x fa-flash"></i></md-button>
			<!--<md-button class="md-fab md-warn" data-ng-click="action({label: 'Mute', url: '/mute'})" data-ng-show="irda"
				title="Mute" aria-label="Mute"><i class="fa fa-2x fa-bell-slash-o"></i></md-button>-->
			<md-button class="md-fab md-warn" data-ng-click="hideLogs()" data-ng-hide="irda" title="Hide Logs"
				aria-label="Hide Logs">
			<i class="fa fa-2x fa-arrow-left"></i></md-button>
		</div>
	</md-sidenav>

	<div class="main" layout-align="top center">
		<md-content flex layout-padding>
			<!--<md-button data-ng-click="action({label: 'Mute', url: '/mute'})" class="md-fab md-primary md-hue-2 md-mini muteButton"
			title="Mute Odi" aria-label="Mute Odi">
				<i class="fa fa-bell-slash-o"></i>
			</md-button>-->

			<md-button data-ng-click="showLogs()" class="md-fab md-warn md-hue-2 logButton" title="Logs" aria-label="Logs">
				<i class="fa fa-2x fa-rocket"></i>
			</md-button>
			<md-button data-ng-click="action({label: 'Mute', url: '/mute'})" class="md-fab md-primary md-hue-2 muteButton"
			title="Mute Odi" aria-label="Mute Odi">
				<i class="fa fa-lg fa-bell-slash-o"></i>
			</md-button>
			<!--<md-button class="md-fab md-primary md-hue-2 confButton" title="Settings" aria-label="Settings">
				<i class="fa fa-2x fa-cog"></i>
			</md-button>-->

			<md-progress-circular md-diameter="150" data-ng-show="loading"></md-progress-circular>

			<!--<div class="dashboard" data-ng-if="irda">
				<md-grid-list md-cols="3" md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3"
					md-row-height="4:3" md-gutter="12px" class="ng-slide" data-ng-class="irda? 'pointer' : ''">
					<md-grid-tile md-rowspan="dashboard.ttsTile" md-colspan="3" md-colspan-sm="3" md-colspan-xs="3" class="grey ng-slide">
						<tts data-tile="dashboard.ttsTile"></tts>
					</md-grid-tile>
					<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="teal ng-slide">
						<mode data-tile="dashboard.tileList.mode"></mode>
					</md-grid-tile>
					<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="blueGrey ng-slide">
						<alarm data-tile="dashboard.tileList.alarms"></alarm>
					</md-grid-tile>
				</md-grid-list>
			</div>
			<br>-->

			<div data-ng-include src="'templates/dashboard.html'" data-ng-hide="loading" data-ng-class="loading ? '' : 'ng-slide'"></div>

			<footer data-ng-hide="loading">
				<p><a href="http://adrigarry.com" target="_blank" title="Adrien Garry">adrigarry.com</a></p>
			</footer>
		</md-content>
	</div>
</body>
</html>